MenuFont_ms = 15px
MenuRombos_ms = 10em
MenuRomGrande_ms = 12em
MenuRomW_ms = MenuRomGrande_ms * 1.35
MenuRomH_ms = MenuRomGrande_ms * 1.1
MenuFontSM_ms = 30px
MenuRomMiniGrande_ms = 8em
MenuRomMiniW_ms = MenuRomMiniGrande_ms * 1.35
MenuRomMiniH_ms = MenuRomMiniGrande_ms * 1.1
Logo_ms = MenuRomMiniGrande_ms * 0.96875
bottom_ms = 1.2em
FootIco = 50px
// logo_ms = 20vw
// menu_ms = 80vw
// rombos_ms_h = 13vw
// romlog_ms_h = 14vw
// Mfont_ms = 1.2vw
// Ffont_ms = 3vmin
// Tico_ms = 8vmin
// FactorFfont = 1.4
// FactorFfontP = 0.75
// FactorFfontP2 = 1.3
// FfontBold_ms = Ffont_ms * 1.5
// FfontP_ms = Ffont_ms * FactorFfontP
// FfontBoldP_ms = FfontBold_ms * FactorFfontP
// TicoP_ms = Tico_ms * FactorFfontP
// FfontP2_ms = FfontP_ms * FactorFfontP2
// FfontBoldP2_ms = FfontBoldP_ms * FactorFfontP2
// TicoP2_ms = TicoP_ms * FactorFfontP2
// rombos_ms_t = - rombos_ms_h / 2
// romlog_ms_w = romlog_ms_h * 1.3
// log_ms_h = romlog_ms_h / 2.4
//
// MfontTAB_ms = 1.6vw
// romlogTAB_ms_h = 16vw
// romlogTAB_ms_w = romlogTAB_ms_h * 1.3
// logTAB_ms_h = romlogTAB_ms_h / 2.4
// rombosTAB_ms_h = 18vw
// rombosTAB_ms_t = - (rombosTAB_ms_h / 2) + 2vw
//
// MfontSM_ms = 3vmin
// romlogSM_ms_h = 28vw
// romlogSM_ms_w = romlogSM_ms_h * 1.3
// logSM_ms_h = romlogSM_ms_h / 2.4
// rombosSM_ms_h = 23vw
// rombosSM_ms_t = - (rombosSM_ms_h / 2) + 2vw
//
// // r4k_ms_w = 3840px
// // r4k_ms_h = r4k_ms_w / 1.9
// // ico4k_ms_h = r4k_ms_w * 0.04
// // gap4k_ms = r4k_ms_w * 0.01
// // fFont4k_ms = r4k_ms_w * 0.01
// // fBFont4k_ms = fFont4k_ms * 1.5
// // fpadd4k_ms = r4k_ms_w * 0.01
// //
// // rFullHD_ms_w = 1920px
// // rFullHD_ms_h = rFullHD_ms_w / 1.9
// // icoFullHD_ms_h = rFullHD_ms_w * 0.04
// // gapFullHD_ms = rFullHD_ms_w * 0.01
// // fFontFullHD_ms = rFullHD_ms_w * 0.01
// // fBFontFullHD_ms = fFontFullHD_ms * 1.5
// // fpaddFullHD_ms = rFullHD_ms_w * 0.01
// //
// // rWXGA_ms_w = 1366px
// // rWXGA_ms_h = rWXGA_ms_w / 2.25
// // icoWXGA_ms_h = rWXGA_ms_w * 0.04
// // gapWXGA_ms = rWXGA_ms_w * 0.01
// // fFontWXGA_ms = rWXGA_ms_w * 0.01
// // fBFontWXGA_ms = fFontWXGA_ms * 1.5
// // fpaddWXGA_ms = rWXGA_ms_w * 0.01
// //
// // rHDTV_ms_w = 1280px
// // rHDTV_ms_h = rHDTV_ms_w / 1.9
// // icoHDTV_ms_h = rHDTV_ms_w * 0.04
// // gapHDTV_ms = rHDTV_ms_w * 0.01
// // fFontHDTV_ms = rHDTV_ms_w * 0.01
// // fBFontHDTV_ms = fFontHDTV_ms * 1.5
// // fpaddHDTV_ms = rHDTV_ms_w * 0.01
// //
// // rNTSC_ms_w = 720px
// // rNTSC_ms_h = rNTSC_ms_w / 1.6
// // icoNTSC_ms_h = rNTSC_ms_w * 0.04
// // gapNTSC_ms = rNTSC_ms_w * 0.01
// // fFontNTSC_ms = rNTSC_ms_w * 0.01
// // fBFontNTSC_ms = fFontNTSC_ms * 1.5
// // fpaddNTSC_ms = rNTSC_ms_w * 0.01
// //
// rTAB_ms_w = 1024px
// rSM_ms_w = 640px
// // rTAB_ms_h = rTAB_ms_w / 1.6
// // icoTAB_ms_h = rTAB_ms_w * 0.04
// // gapTAB_ms = rTAB_ms_w * 0.01
// // fFontTAB_ms = rTAB_ms_w * 0.01
// // fBFontTAB_ms = fFontTAB_ms * 1.5
// // fpaddTAB_ms = rTAB_ms_w * 0.01
