logo_ms = 20vw
menu_ms = 80vw
rombos_ms_h = 13vw
romlog_ms_h = 14vw
Mfont_ms = 1.2vw
Ffont_ms = 3vmin
Tico_ms = 8vmin
FactorFfont = 1.4
FactorFfontP = 0.7
FfontP_ms = Ffont_ms * FactorFfontP
FfontBold_ms = Ffont_ms * 1.5
FfontBoldP_ms = FfontBold_ms * FactorFfontP
TicoP_ms = Tico_ms * FactorFfontP
rombos_ms_t = - rombos_ms_h / 2
romlog_ms_w = romlog_ms_h * 1.3
log_ms_h = romlog_ms_h / 2.4
