@import "_variable.styl"
@import "_menu.styl"
@import "_contactus.styl"

*
  // border 0.03vw solid red
  font-family: 'Open Sans', sans-serif
  box-sizing border-box
body
  margin 0

main
  display grid
  grid-template-rows 100vh 100vh 100vh
